@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border:none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

/* header, navigation bar */

header {
    height: 60px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

header > .header-wrapper {
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #CBC6BF;
}

.header-wrapper > .container-fluid > .row > div {
    margin: 0;
    padding: 0;
}

.header-wrapper .logo {
    display: block;
    height: 100%;
    width: 100%;
}

.header-wrapper .logo > img {
    height: 100%;
    max-height: 100%;
    width: 172px;
    max-width: 172px;
    max-width: 100%;
    background-color: transparent;
}

.header-wrapper .navbar {
    text-align: center;
    padding: 0;
}

.header-wrapper .navbar > ul {
    text-align: center;
    list-style: none;
    margin: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.header-wrapper .navbar > ul > li {
    display: inline-block;
    position: relative;
    min-width: 150px;
    height: 100%;
    padding-top: 5px;
}

.header-wrapper .navbar > ul > li:hover, .my-dropdown-menu > li:hover {
    background-color: #CBC6BF;
}

.header-wrapper .navbar > ul > li > a {
    font-weight: bold;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 15px;
    color: black;
}

.my-dropdown {
    position: relative;
}

.my-dropdown > a:after {
    font-family: FontAwesome;
    content: " \f107";
    position: absolute;
    top: 20px;
    right: 5px;
}

.my-dropdown-menu {
    list-style: none;
    display: none;
    position: absolute;
    z-index: 1;
    display: none;
    left: 0;
    right: 0;
    padding: 0 !important;
    min-width: 150px !important;
    margin: 0 !important;
    border-radius: 0 0 7px 7px !important;
    border: 2px solid #CBC6BF;
}

.my-dropdown-menu > li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
    background-color: #fff;
    text-align: left;
}

.my-dropdown-menu > li:last-of-type{
    border-radius: 0 0 5px 5px;
}

.my-dropdown-menu > li > a {
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    color: black;
    font-weight: bold;
}

.my-dropdown:hover > .my-dropdown-menu {
    display: block;
}

.search-form {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 15px;
}

.search-form > input {
    position: relative;
    padding-left: 10px;
    outline: none;
    height: 30px;
    width: 230px;
    border: 2px solid #CBC6BF;
    border-radius: 7px;
}
.search-form > button {
    position: absolute;
    left: 205px;
    top: 18px;
    color: #CBC6BF;
    border: 0;
    background: none;
    z-index: 50;
    width: 20px;
    background: white;
}

/* Welcome */

.welcome > .container-sm > .row:first-of-type > .col-sm-12 > p {
    text-align: justify;
    display: block;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.welcome h1, .room-type h1, .service h1, .news h1 {
    text-align: center;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    margin-top: 100px;
}

.welcome h1:after{
    margin-top: -65px;
    margin-left: 55px;
    font-size: 110px;
    content: "Welcome";
    position: absolute;
    color: rgb(187, 182, 182);
    top: 0;
    left: 0;
    z-index: -1;
    font-family: 'Herr Von Muellerhoff', cursive;
}

.bonus {
    text-align: center;
    font-family: 'Cormorant Garond', san-serif;
    font-style: italic;
    color: #d4ab68;
    cursor: pointer;
}

.bonus > a {
    color: #d4ab68;
    font-size: 25px;
}

.bonus > a:hover {
    color: #d4ab68;
}

.welcome img {
    height: 100%;
    width: 100%;
    border: 1px solid #CBC6BF;
}

/* Room type */

.room-type {
    margin-top: 80px;
    background-color: #F5F5F5;
    position: relative;
    z-index: 2;
}

.room-type h1:after {
    content: "Luxury";
    margin-top: -65px;
    margin-left: 55px;
    font-size: 110px;
    position: absolute;
    color: #DEDEDE;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: 'Herr Von Muellerhoff', cursive;
}

.room-type .card {
    border: 2px solid #d4ab68;
}

.room-type .card h5 a {
    color: black;
}

.room-type .price {
    font-size: 14px;
    font-weight: bold;
    color: #d4ab68;
}

.room-type p {
    font-size: 15px;
}

/* service */

.service {
    margin-top: 80px;
    position: relative;
    z-index: 2;
}

.service h1:after {
    content: "Service";
    margin-top: -66px;
    margin-left: 75px;
    font-size: 110px;
    position: absolute;
    color: #DEDEDE;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: 'Herr Von Muellerhoff', cursive;
}
.service .card p a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    color: black;
}

/* news */

.news h1:after {
    content: "News";
    margin-top: -67px;
    margin-left: 95px;
    font-size: 110px;
    position: absolute;
    color: #DEDEDE;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: 'Herr Von Muellerhoff', cursive;
}

.news img {
    max-height: 232px;
}

.news .card h5 a {
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
}

.news .card p {
    font-family: 'Cormorant Garamond', serif;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

footer .block-1 {
    border-bottom: 1px solid rgb(136, 136, 136);
}

footer .block-1 h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

footer ul {
    list-style: none;
}

footer .block-1 ul li {
    font-size: 14px;
}

footer ul li a {
    opacity: 80%;
    color: white;
}

footer .block-1 ul li a:hover {
    text-decoration: none;
    color: #d4ab68
}

footer .block-1 ul li a i {
    color: #d4ab68;
}

footer .block-1 form input {
    background-color: #212121;
    border: 1px solid rgb(63, 62, 62);
    height: 40px;
    width: 100%;
}

footer .block-1 form button {
    width: 126px;
    height: 40px;
    background-color: #d4ab68;
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
}

footer .share {
    text-align: center;
}

footer .share li {
    display: inline-block;
    margin: 0 5px;
}

footer .share li a:hover {
    text-decoration: none;
    color: #d4ab68 !important;
}

footer .credit h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
}

footer .credit p {
    text-align: center;
}

footer .credit p > span:first-child {
    opacity: 50%;
    font-size: 14px;
}

.backtop {
    height: 50px;
    width: 50px;
    background: none;
    border: 2px solid #d4ab68;
    color: #d4ab68;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 200;
}

#menu-btn {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

.close {
    display: none;
}

.desktop-b-bottom {
    border-bottom: 1px solid #CBC6BF;
}

.small-calendar {
    display: block;
    position: absolute;
    top: 15px;
    left: 7px;
    height: 45px;
    width: 45px;
    background-color: #A88568;
    font-weight: bold;
}

.small-calendar span {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom:-10px;
    margin-top: 4px;
}

input[type="email"] {
    color: white;
}

input[type="email"]:focus {
    caret-color: #fff;
}

/* debugger */
/* 390 - 844 */

@media only screen and (max-width: 952px) {
    .header-wrapper .col-sm-3 {
        display: none;
    }
    
    .logo {
        text-align: center;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    #menu-btn{
        display: inline-block;
    }

    .header-wrapper {
        background-color: #DEDEDE;
    }

    .header-wrapper .navbar{
        position: fixed;
        top: 0;
        left: -100%;
        background: #fff;
        width: 300px;
        height: 844px;
        z-index: 3000;
    }

    .header-wrapper .navbar.active{
        left: 0;
    }

    .header-wrapper .navbar a{
        color: black;
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header-wrapper .navbar {
        display: block;
        overflow: hidden;
    }

    .header-wrapper .navbar .close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: black;
        font-size: 25px;
    }

    .header-wrapper .navbar ul {
       padding: 0px;
       margin-left: -10px;
       padding-top: 40px;
       width: 280px;
       text-align: left;
    }

    .header-wrapper .navbar ul.big-menu > li {
        display: block;
        line-height: 40px;
        border-bottom: 1px solid rgb(153, 152, 152);
    }

    .header-wrapper .navbar ul.big-menu > li:hover {
        background: none;
    }

    .header-wrapper .navbar > ul.big-menu > li a {
        font-size: 16px;
        margin: 0;
        padding: 0;
        padding-left: 4px;
    }

    .my-dropdown > a:after {
        font-family: FontAwesome;
        content: " \f107";
        position: absolute;
        top: 3px;
        right: 5px;
    }

    .my-dropdown .my-dropdown-menu {
        display: block;
        width: 280px;
        position: relative;
        border: 0;
        border-radius: 0;
    }

    .my-dropdown-menu .my-dropdown-item > a {
        border-bottom: 0 !important;
        border-radius: 0;
        font-weight: normal;
        padding-left: 30px !important;
    }

    .desktop-b-bottom {
        border-bottom: none;
    }

    .mobile-b-bottom {
        border-bottom: 1px solid #CBC6BF;
    }
}

@media only screen and (min-width: 390px) {
    .welcome h1 {
        display: block;
        width: 350px;
        height: 144px;       
        margin-left: auto;
        margin-right: auto;
    }

    .room-type h1, .service h1, .news h1 {
        display: block;
        width: 350px;
        height: 80px;       
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 0) {
    .welcome p {
        text-align: justify;
    }
}

